.header {
	background: #ff7547;
}

.header_logo {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0;
}

.layout {
	min-height: 100%;
}

.content {
	margin: 25px 15px;
	padding-bottom: 10px;
}
